.mini-user {
  display: flex;
  border: 2px solid #000;
  margin-bottom: 10px;
  &__images {
    width: 30%;
    display: flex;
    img {
      width: 100%;
      margin: 0;
      padding: 0;
    }
  }
  &__details {
    width: 70%;
    text-align: left;
    padding: 20px;
  }
}
